#vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Logs
logs/*
*.log

# Build artifacts
releases/

# Executables
exe
*.exe
pgl-backup

# Secrete Enviroment Vars
.env.local