#vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Logs
logs/*
*.log
npm-debug.log*

# Test
website/*

# Executables
exe
*.exe

# Secrete Enviroment Vars
.env.local