#vscode
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Dev files
todos.txt

# Logs
logs/*
*.log

# Build artifacts
releases/

# Executables
exe
*.exe
pgl-backup

# Secrete Enviroment Vars
.env.local

# OS Specific
.DS_Store
Thumbs.db

# Go Test Artifacts and Workspace
*.test
*.out
go.work
go.work.sum

# Local Runtime Configuration & Locks
pgl-backup.config.json
.~pgl-backup.lock
.pgl-backup.meta.json